name: {{ wf_name }}

{% if global_inputs %}
inputs:
{% for inp in global_inputs %}
  - {{ inp.label }} <- {{ inp.src }}
{% endfor %}
{% endif %}

{% if global_outputs %}
outputs:
{% for out in global_outputs %}
  - {{ out.label }}
{% endfor %}
{% endif %}

processes:
{% for proc in processes %}
  - {{ proc.name }}:
      image: {{ proc.image }}
      {% if proc.inputs %}
      inputs:
      {% for inp in proc.inputs %}
        - {{ inp.label }} -> {{ inp.dest }}
      {% endfor %}
      {% endif %}
      {% if proc.outputs %}
      outputs:
      {% for out in proc.outputs %}
        - {{ out.src }} -> {{ out.label }}
      {% endfor %}
      command: {{ proc.command }}
      {% endif %}
{% endfor %}