{
  "name": "eod-{{ wf_name }}-{{ task_name }}",
  "appId": "endofday-local-0.0.1",
  "inputs": {
    "wf": ["{{ wf_path }}"],
    {% if global_inputs %}
    "glob_in": ["{% for inp in global_inputs %}{{ inp.path_str }}"{% endfor %}]
    {% endif %}
  },
  "archive": true,
  "archiveSystem": "{{ system_id }}",
  "notifications": [
    {
      "url": "http://requestb.in/vcrlobvc?job_id=${JOB_ID}&status=${JOB_STATUS}",
      "event": "*",
      "persistent": true
    }
  ]
}