{
  "name": "eod-{{ wf_name }}-{{ task_name }}",
  "appId": "endofday-local-0.0.1",
  "inputs": {
    "wf": ["{{ wf_path }}"],
    {% if global_inputs %}
    "glob_in": ["{% for inp in global_inputs %}{{ inp.path_str }}"{% endfor %}]
    {% endif %}
  },
  "archive": true,
  "archiveSystem": "{{ system_id }}" {% if email %},{% endif %}

  {% if email %}
  "notifications": [
    {
      "url": "{{ email }}",
      "event": "FINISHED",
      "persistent": true
    },
    {
      "url": "{{ email }}",
      "event": "FAILED",
      "persistent": true
    },
    {
      "url": "{{ email }}",
      "event": "KILLED",
      "persistent": true
    },
    {
      "url": "{{ email }}",
      "event": "STOPPED",
      "persistent": true
    },
    {
      "url": "{{ email }}",
      "event": "RUNNING",
      "persistent": true
    }
  ]
  {% endif %}
}